body{
	overflow: hidden;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.nieve{
	position: absolute;
	left: 1200px;
	font-size: 20px;
	z-index: 2;
	color: white;
}
.nieve1{
	position: absolute;
	left: 1000px;
	font-size: 20px;
	z-index: 2;
	color: white;
}
.nieve2{
	position: absolute;
	left: 150px;
	font-size: 20px;
	z-index: 2;
	color: white;
}
.nieve3{
	position: absolute;
	left: 850px;
	font-size: 20px;
	z-index: 2;
	color: white;
}
.nieve4{
	position: absolute;
	left: 700px;
	font-size: 20px;
	z-index: 2;
	color: white;
}
.nieve5{
	position: absolute;
	left: 550px;
	font-size: 20px;
	z-index: 2;
	color: white;
}
.nieve6{
	position: absolute;
	left: 250px;
	font-size: 20px;
	z-index: 2;
	color: white;
}
.nieve7{
	position: absolute;
	left: 400px;
	font-size: 20px;
	z-index: 2;
	color: white;
}
.nieve8{
	position: absolute;
	left: 50px;
	font-size: 20px;
	z-index: 2;
	color: white;
}
#anim{
	top: -10px;
	animation-name: snow;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}
/*Animacion*/
@keyframes snow {
			0%{
				top: -100px;
			}
			
			100%{
				top: 900px;
			}
		}


/*Texto*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
.texto{
	position: relative;
	left: 390px;
	top: 440px;
  margin: 0;
  padding: 0;
  
  font-family: 'Luckiest Guy', cursive;
  font-size: 100px;
  letter-spacing: 0.05em;
  text-align: center;
  color: transparent;
  filter: 
    drop-shadow(0 0 0.05em black)
    ;
  
  background: repeating-linear-gradient(-45deg, 
    red 0 0.15em, 
    white 0 0.25em, 
    green 0 0.40em, 
    white 0 0.50em);
  -webkit-background-clip: text;
  background-clip: text;
}



